@tailwind base;

@tailwind components;

@tailwind utilities;

/*
 * Fonts.
 */
@font-face {
  font-family: 'PT Sans';
  font-weight: 600;
  src: url("./fonts/PTSans-Bold.ttf");
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 500;
  src: url("./fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: 'Gelasio';
  src: url("./fonts/Gelasio-Regular.ttf");
}

@font-face {
  font-family: 'Gelasio';
  src: url("./fonts/Gelasio-Semibold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Gelasio';
  src: url("./fonts/Gelasio-Italic.ttf");
  font-style: italic;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.bubble-language {
  animation: float 4s ease-in-out infinite;
}

.bubble-es {
  animation-delay: 1s;
}
.bubble-fr {
  animation-delay: 1.2s;
}

a.link {
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  text-decoration: underline;
  @apply text-blue-600;
}

.contact {
  @apply bg-white;
  @apply shadow-xl;
  @apply p-8;
  @apply rounded-lg;
}

.course {
  @apply bg-white;
  @apply shadow-lg;
  @apply p-4;
  @apply rounded-md;
  @apply cursor-pointer;
  @apply transition-all;
  @apply duration-300;
  @apply ease-in;
  @apply transform;
}

.course:hover {
  @apply -translate-y-1;
  @apply shadow-xl;
}

.about {
  @apply bg-white;
  @apply shadow-xl;
  @apply p-12;
  @apply rounded-lg;
  @apply transform;
  @apply font-medium;
}

.h-screen-80 {
  height: 80vh;
}

.title  {
  font-family: 'PT Sans', 'sans-serif';
  font-size: 2.5rem;
  position: relative;
  z-index : 1;
}

.dots {
  background-image: radial-gradient(#CC28B333 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -19px -19px;
}

.glide__slide {
  opacity: 0.3;
  transition: all ease 0.3s;
}

.glide__slide > div {
  transition: all ease 0.3s;
}

.glide__slide--active > div:first-child:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}

.glide__slide--active > div:nth-child(2):hover {
  margin-top: 25px;

}

.glide__slide--active {
  opacity: 1;
}

.glide__arrow {
    border: none;
    border-radius: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
}

.langues > div:hover {
  cursor: pointer;
}

.langues > div:hover h3 {
  transition: all ease 0.6s;
  transform: translateY(-80px);
}

.langues > div:hover .discover {
  transition: all ease 1s;
  opacity: 1;
}

.background-english {
  clip-path: polygon(
    0 0, 100% 0%, 80% 100%, 0% 100%
  );
}

.flag-animate {
  opacity: 0;
}

.flag-animate.flag-spain.animate {
  animation: animateflagspain 0.5s ease forwards;
  animation-delay: 0.3s;
}
.flag-animate.flag-uk.animate {
  animation: animateflaguk 0.6s ease forwards;
}
.flag-animate.flag-france.animate {
  animation: animateflagfrance 0.5s ease forwards;
  animation-delay: 0.4s;
}

.bg-blue-550 {
  background-color: #315bd1;
}

@keyframes animateflagfrance {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(25deg); 
  }
}

@keyframes animateflaguk {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(4deg); 
  }
}

@keyframes animateflagspain {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scaleX(-1) rotate(20deg);
  }
}