@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.bubble-language {
  animation: float 4s ease-in-out infinite;
}

.bubble-es {
  animation-delay: 1s;
}
.bubble-fr {
  animation-delay: 1.2s;
}

.text-hello {
  font-weight: bold;
}

#contact_form.sent {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  @apply bg-blue-500;
}
#contact_form.sent #form_elements {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

a.link {
  font-weight: bold;
  transition: all ease 0.3s;
  border-bottom: dashed 1px #3f83f8;
  @apply text-gray-600;
}
a.link:hover {
  @apply text-gray-800;
}
a.link-clear {
  font-weight: bold;
  transition: all ease 0.3s;
  border-bottom: dashed 1px #3f83f8;
  @apply text-gray-100;
}
a.link-clear:hover {
  @apply text-gray-200;
}

.contact {
  @apply bg-white;
  @apply shadow-xl;
  @apply p-8;
  @apply rounded-lg;
}

.course {
  @apply bg-white;
  @apply shadow-lg;
  @apply p-4;
  @apply rounded-md;
  @apply cursor-pointer;
  @apply transition-all;
  @apply duration-300;
  @apply ease-in;
  @apply transform;
}

.course:hover {
  @apply -translate-y-1;
  @apply shadow-xl;
}

.about {
  @apply bg-transparent;
  @apply shadow-none;
  @apply p-1;
  @apply rounded-lg;
  @apply transform;
  @apply font-medium;
}

@screen lg {
  .about {
    @apply bg-white;
    @apply shadow-xl;
    @apply rounded-lg;
    @apply transform;
    @apply p-12;
  }
}
@screen md {
  .about {
    @apply bg-white;
    @apply shadow-xl;
    @apply rounded-lg;
    @apply transform;
    @apply p-12;
  }
}
@screen sm {
  .about {
    @apply bg-transparent;
    @apply shadow-none;
    @apply rounded-lg;
    @apply transform;
    @apply p-1;
  }
}

.h-screen-80 {
  height: 80vh;
}

.title  {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  z-index : 1;
}

.dots {
  background-image: radial-gradient(#CC28B333 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -19px -19px;
}

.glide__slide {
  opacity: 0.3;
  transition: all ease 0.3s;
}

.glide__slide > div {
  transition: all ease 0.3s;
}

.glide__slide--active > div:first-child:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}

.glide__slide--active > div:nth-child(2):hover {
  margin-top: 25px;

}

.glide__slide--active {
  opacity: 1;
}

.glide__arrow {
    border: none!important;
    border-radius: none;
    box-shadow: none!important;
    text-shadow: none;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
}

.langues > div:hover {
  cursor: pointer;
}

.langues > div:hover h3 {
  transition: all ease 0.6s;
  transform: translateY(-80px);
}

.langues > div:hover .discover {
  transition: all ease 1s;
  opacity: 1;
}

.background-english {
  clip-path: polygon(
    0 0, 100% 0%, 80% 100%, 0% 100%
  );
}

.flag-animate {
  opacity: 0;
}

.flag-animate.flag-spain.animate {
  animation: animateflagspain 0.5s ease forwards;
  animation-delay: 0.3s;
}
.flag-animate.flag-uk.animate {
  animation: animateflaguk 0.6s ease forwards;
}
.flag-animate.flag-france.animate {
  animation: animateflagfrance 0.5s ease forwards;
  animation-delay: 0.4s;
}

.bg-blue-550 {
  background-color: #315bd1;
}

@keyframes animateflagfrance {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(25deg); 
  }
}

@keyframes animateflaguk {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(4deg); 
  }
}

@keyframes animateflagspain {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scaleX(-1) rotate(20deg);
  }
}